/latest8.8 svnc_bugtraq_003aurl svnc_bugtraq_003amessage=Fix+bug+%25BUGID%25
latest9.0/build/source-9.0.0.7-bj.zip svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/namespace/NamespaceContext.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQCommonHandler.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQConnection.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQConstants.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQDataFactory.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQDataSource.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQDynamicContext.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQException.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQExpression.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQItem.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQItemAccessor.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQItemType.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQMetaData.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQPreparedExpression.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQResultItem.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQResultSequence.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQSequence.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQSequenceType.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQStaticContext.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/javax/xml/xquery/XQWarning.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/AugmentedSource.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/CollectionURIResolver.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Compile$TracingObjectOutputStream.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Compile.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Configuration.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Controller.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Err.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/FeatureKeys.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Filter.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/IdentityTransformer.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/IdentityTransformerHandler.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/JavaPlatform.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/NonDelegatingURIResolver.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/OutputURIResolver.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Platform.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/PreparedStylesheet.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Query.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/RelativeURIResolver.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/SourceResolver.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/StandardErrorHandler.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/StandardErrorListener.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/StandardURIResolver.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/TemplatesHandlerImpl.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Transform.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/TransformerFactoryImpl.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/TransformerHandlerImpl.class svn_mime_002dtype=application%2Foctet-stream
latest9.1/bj/net/sf/saxon/Version.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/namespace/NamespaceContext.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQCommonHandler.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQConnection.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQConstants.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQDataFactory.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQDataSource.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQDynamicContext.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQException.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQExpression.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQItem.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQItemAccessor.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQItemType.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQMetaData.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQPreparedExpression.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQResultItem.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQResultSequence.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQSequence.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQSequenceType.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQStaticContext.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/javax/xml/xquery/XQWarning.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/AugmentedSource.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/CollectionURIResolver.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Compile$TracingObjectOutputStream.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Compile.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Configuration.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Controller.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Err.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/FeatureKeys.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Filter.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/IdentityTransformer.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/IdentityTransformerHandler.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/JavaPlatform.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/NonDelegatingURIResolver.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/OutputURIResolver.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Platform.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/PreparedStylesheet.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Query.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/RelativeURIResolver.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/SourceResolver.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/StandardErrorHandler.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/StandardErrorListener.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/StandardURIResolver.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/TemplatesHandlerImpl.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Transform.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/TransformerFactoryImpl.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/TransformerHandlerImpl.class svn_mime_002dtype=application%2Foctet-stream
tags/9.1.0.7/bj/net/sf/saxon/Version.class svn_mime_002dtype=application%2Foctet-stream
